.Message{  
   
   text-align: center;
    animation:blinker 1s infinite;
   padding-top:200px;
  }
  @keyframes blinker{
    0%{color:red;}
    40%{color:rgb(46, 223, 170);}
    60%{color: green;}
    90%{color: blue;}
  
  }
  .Message h1{
      font-size:100px;

  }
  